.wrapper {
  width: 80vw;
  margin: auto;
}

.main-container{
  width: 60%;
  padding: 20px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  border: 0.6px solid #313131;
  h1 {
    font-family: "Calibri Light";
    text-align: center;
  }
}

.timeline {
  display: grid;
  grid-template-columns: repeat(12, 4rem);
}

.grid {
  background-color: rgba(235, 255, 255, 0.4);
}

.grid-element {
  border: 0.5px solid black;
}

.timestamps {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.other-data {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  display: flex;
  justify-content: center;
}

.submit-btn {
  background-color: #cdcdcd;
  color: black;
  border: 0.5px solid black;
  padding: 0 10px;
  border-radius: 3px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #eeeeee;
}

.main-container {
  p {
    text-align: center;
    margin-bottom: 8px;
  }
}

#city-input {
  padding: 3px 5px;
  border-radius: 2px;
  border: 0.5px solid black;
  margin: 0 5px;
}

#temperature-threshold {
  margin-top: -20px;
  margin-bottom: 20px;
}

#temperature-main {
  margin: 6px;
  font-size: 60px;
}
