<div class="wrapper">
  <div class="main-container">
    <div class="input">
      <p>City:</p>
      <input id="city-input" type="text" #input>
      <button class="submit-btn" (click)="city = input.value; selectCity()">Select</button>
    </div>
    <div class="error-msg">
      <small *ngIf="locationError">Location Not Found!</small>
    </div>
    <br>
    <div *ngIf="!weatherNow" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="slidecontainer">
      <div class="timestamps">
        <div *ngFor="let item of timeline">{{item}}:00</div>
      </div>
      <input type="range" [min]="currentTime.getHours()" max="23" [value]="currentTime.getHours()" class="slider"
             id="myRange" #slider (click)="selectedHour = slider.value">
    </div>
  </div>
</div>
<p>{{date}}</p>
