<div class="wrapper">
  <div class="main-container">
    <div class="input">
      <p>City:</p>
      <input id="city-input" type="text" #input>
      <button class="submit-btn" (click)="city = input.value; selectCity()">Select</button>
      <button (click)="consoleLog()">Debug</button>
    </div>
    <div class="error-msg">
      <small *ngIf="locationError">Location Not Found!</small>
    </div>
    <br>
    <div *ngIf="!hourlyWeatherArray" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="weather" *ngIf="hourlyWeatherArray">
      <div>{{currentTime | date:"Y. MMMM d, EEEE"}}</div>
      <h1 id="temperature-main">{{hourlyWeatherArray[slider.value].temp | number:'1.0-0'}}°C</h1>
      <div>
        <div>
          <div class="other-data">
            Feels like: {{ hourlyWeatherArray[slider.value].feels_like | number:'1.0-0'}}°C
          </div>
          <div>
            {{hourlyWeatherArray[slider.value].weather[0].main }},
            {{hourlyWeatherArray[slider.value].weather[0].description}}
          </div>
          <div>
            Humidity: {{hourlyWeatherArray[slider.value].humidity}}%
          </div>
        </div>
      </div>
    </div>
    <div class="slidecontainer">
      <div class="timestamps">
        <div *ngFor="let item of timeline">{{item}}:00</div>
      </div>
      <input type="range" min="1" [max]="24-currentTime.getHours()" [value]="currentTime.getHours()" class="slider"
             id="myRange" #slider (click)="selectedHour = slider.value">
      <div>{{slider.value}}</div>
    </div>
  </div>
</div>
