<div class="wrapper">
  <div class="main-container">
    <div class="input">
      <p>City:</p>
      <input id="city-input" type="text" #input>
      <button class="submit-btn" (click)="city = input.value; selectCity()">Select</button>
      <button (click)="consoleLog()">Debug</button>
    </div>
    <div class="error-msg">
      <small *ngIf="locationError">Location Not Found!</small>
    </div>
    <br>
    <div *ngIf="!weatherNow" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="weather" *ngIf="weatherNow">
      <div>{{currentTime | date:"Y. MMMM d, EEEE"}}</div>
      <div>{{location.name}}, {{location.country}}</div>
      <h1 id="temperature-main">{{weatherNow.main.temp | number:'1.0-0'}}°C</h1>
      <div id="temperature-threshold">{{weatherNow.main.temp_min}}°C - {{weatherNow.main.temp_max}}°C</div>
      <div>
        <div>
          <div>
            Feels like: {{ weatherNow.main.feels_like | number:'1.0-0'}}°C,
            {{weatherNow.weather[0].main }},
            {{weatherNow.weather[0].description}}
          </div>
          <div>
            Humidity: {{weatherNow.main.humidity}}%
          </div>
        </div>
      </div>
      <div class="timeline">
        <h1>Hourly Forecast</h1>
        <div class="grid" *ngFor="let item of timeline">
          <div class="grid-element">{{item.time | date: 'HH:mm'}}</div>
          <div class="grid-element">{{item.temp | number: '1.0-0'}}°C</div>
        </div>
      </div>
    </div>
  </div>
</div>
